.c-float-button {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--r-color-primary);
  box-shadow: var(--r-shadow-md);
  color: #fff;

  &:active {
    opacity: 0.85;
    transition: transform 0.15s ease;
  }

  &--dragging {
    transition: none !important;
  }
}
